<h1>Editing Unite Administrative</h1>

<%= render 'form', unite_administrative: @unite_administrative %>

<%= link_to 'Show', @unite_administrative %> |
<%= link_to 'Back', unite_administratives_path %>
