<h1>Editing Type Systeme Irrigue</h1>

<%= render 'form', type_systeme_irrigue: @type_systeme_irrigue %>

<%= link_to 'Show', @type_systeme_irrigue %> |
<%= link_to 'Back', type_systeme_irrigues_path %>
